.login-form-container {
  background-color: rgba(180, 180, 180, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container .login-form {
  background-color: #fcf8f3;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
}
.login-form-container .login-form .login-title {
  background-color: #b67162;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.login-form-container .login-form .login-title h5 {
  font-size: 1.5rem;
}
.login-form-container .login-form .login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form-container .login-form .login-info .login-info-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form-container .login-form label {
  color: #e4b96a;
  margin-right: 1rem;
}
.login-form-container .login-form .login-input {
  margin-left: 0.5rem;
  width: 50%;
  height: 7vh;
  border: none;
  border-radius: 2rem;
  outline: none;
  margin: 1rem 0;
  padding-left: 0.5rem;
}
.login-form-container .login-form .error-message {
  color: red;
}
.login-form-container .login-form .login-btn-container {
  width: 100%;
}
.login-form-container .login-form .login-btn {
  width: 15%;
  height: 5vh;
  border: 1px solid #b67162;
  border-radius: 2rem;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
}
.login-form-container .login-form .login-btn:hover {
  background-color: #b67162;
  color: #fcf8f3;
}
.login-form-container .login-form p {
  cursor: pointer;
  font-size: 0.5rem;
}
.login-form-container .login-form p:hover {
  color: #9e9d89;
  text-decoration: underline;
}

@media screen and (min-width: 300px) and (max-width: 349px) {
  .login-form-container .login-form {
    width: 90%;
    height: 60vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .login-form-container .login-form {
    width: 90%;
    height: 50vh;
  }
  .login-form-container .login-form .login-btn {
    width: 25%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .login-form-container .login-form {
    width: 60%;
    height: 40vh;
  }
  .login-form-container .login-form .login-input {
    width: 50%;
    height: 5vh;
  }
  .login-form-container .login-form .login-btn {
    width: 20%;
    height: 4vh;
  }
}
