/* :root {
  --navbar: #ebe9e9;
  --body: #f3f8f2;
  --text: #5f634f;
} */
:root {
  --navbar: #e2bcb7;
  --body: #f3f8f2;
  --text: #e4d3cf;
}

.menu {
  background-color: rgba(180, 180, 180, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  /* left: -100%;
  transition: 850ms; */
  /*Both same effect*/
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 10;
}
.active {
  /* transition: 350ms;
  left: 0; */
  /*Both same effect*/
  transform: translateX(0);
}
.navbar-link-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: var(--body);
  height: 100vh;
  width: 50%;
}
.navbar-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.navlink-active {
  background-color: #b67162;
}
.navbar-link:hover {
  background-color: #b67162;
}
.navbar-link a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 2rem;
  width: 100%;
}
.navbar-link a:hover {
  color: var(--text);
}
.close-btn {
  position: absolute;
  right: 2%;
  top: 2%;
  border: none;
  background-color: transparent;
  width: 2rem;
  cursor: pointer;
}
.close-logo {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .menu {
    background-color: transparent;
    position: absolute;
    top: 2%;
    transform: translateX(50%);
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .navbar-link-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    width: 100%;
  }
  .navbar-link {
    width: 100%;
  }
  .navbar-link a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
  }
  .close-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu {
    top: 1%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu {
    top: 0.7%;
  }
}
@media screen and (min-width: 1201px) {
  .menu {
    top: 1.5%;
  }
}
