.welcome-form-container {
  background-color: rgba(180, 180, 180, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-form-container .welcome-form {
  background-color: #64dfdf;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.welcome-form-container .welcome-form .welcome-title {
  background-color: #80ffdb;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}
.welcome-form-container .welcome-form .welcome-title h5 {
  font-size: 1.5rem;
  color: #252525;
}
.welcome-form-container .welcome-form .welcome-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #252525;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.welcome-form-container .welcome-form .welcome-btn-container {
  width: 100%;
}
.welcome-form-container .welcome-form .welcome-btn {
  width: 20%;
  height: 5vh;
  border: 1px solid #6930c3;
  border-radius: 2rem;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
}
.welcome-form-container .welcome-btn-link {
  text-decoration: none;
}
.welcome-form-container .welcome-form .welcome-btn:hover {
  background-color: #6930c3;
  color: #80ffdb;
}

@media screen and (min-width: 300px) and (max-width: 349px) {
  .welcome-form-container .welcome-form {
    width: 90%;
    height: 60vh;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .welcome-form-container .welcome-form {
    width: 90%;
    height: 50vh;
  }
  .welcome-form-container .welcome-form .welcome-btn {
    width: 25%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .welcome-form-container .welcome-form {
    width: 60%;
    height: 40vh;
  }

  .welcome-form-container .welcome-form .welcome-btn {
    width: 20%;
    height: 4vh;
  }
}
