.adopt-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.adopt-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.adopt-container {
  width: 17%;
  border-bottom: 5px solid rgba(84, 202, 177, 0.562);
  margin: 1rem;
}
.adopt-container h5 {
  background-color: rgba(84, 202, 177, 0.562);
  text-align: center;
  font-size: 1.5rem;
}
.adopt-container .adopts {
  background-color: #e4f0f5;
  padding: 0 0.5rem 0.5rem;
}
.adopt-container .adopts img {
  width: 100%;
  height: 40vh;
  min-height: 40vh;
  margin-top: 1rem;
}
.adopt-container .adopts p {
  margin-top: 1rem;
}
.adopt-container .adopts .adopt-dot {
  color: rgb(233, 183, 21);
  font-size: 1.5rem;
  vertical-align: middle;
}
.adopt-container .adopts .adopt-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  background-color: rgb(248, 55, 55);
  color: #e4f0f5;
  border-radius: 10%;
  cursor: pointer;
}
.adopt-container .adopts .adopt-btn:hover {
  background-color: #9c0606;
  color: #c3c8ca;
}
.adopt-container:hover {
  /* outline: turquoise 5px solid; */
  /* border-bottom: none; */
  box-shadow: -5px 0px 0px 0px rgba(84, 202, 177, 0.562),
    5px 0px 0px 0px rgba(84, 202, 177, 0.562);
}
.no-adopt {
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  background-color: #fefad4;
  padding: 1rem;
}
.no-adopt p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f1828d;
}
.no-adopt button {
  width: 10rem;
  background-color: #ddd;
  border: none;
  color: #f1828d;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1rem;
  background-color: #fcd0ba;
}
.no-adopt button:hover {
  color: #fcd0ba;
  background-color: #f1828d;
}
.no-adopt-arrow {
  vertical-align: middle;
  font-size: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .adopt-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .adopt-container {
    width: 80%;
  }
  .adopt-container .adopts img {
    height: 40vh;
  }
  .no-adopt {
    width: 80%;
    height: 50vh;
  }
  .no-adopt p {
    width: 60%;
  }
}

@media screen and (min-width: 501px) and (max-width: 991px) {
  .adopt-info {
    justify-content: center;
    align-items: center;
  }
  .adopt-container {
    width: 40%;
  }
  .adopt-container .adopts img {
    height: 30vh;
    min-height: 30vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .adopt-container {
    width: 30%;
  }
  .adopt-container .adopts img {
    height: 20vh;
    min-height: 20vh;
  }
}
