.checklist-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.checklist-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checklist-form {
  background-color: #e2bcb7;
  width: 80%;
}
.checklist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.checklist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  height: 35vh;
  transition: all ease 0.4s;
}
.checklist:hover {
  background-color: #b67162;
}
.checklist .checklist-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.checklist .checklist-info .checklist-image {
  width: 30%;
  height: 30vh;
}
.checklist .checklist-info .info-item {
  margin: 0 0.5rem;
}
.checklist .checklist-info .checklist-item {
  width: 20%;
}
.checklist .checklist-info .checklist-price {
  width: 15%;
}
.checklist .checklist-info .checklist-count {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checklist .checklist-btn {
  background-color: transparent;
  border: 1px solid rgb(235, 49, 49);
  color: rgb(235, 49, 49);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
.checklist .checklist-btn:hover {
  color: rgb(226, 209, 209);
  background-color: rgb(235, 49, 49);
}
.checklist-form .checklist-total-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checklist-form .checklist-total {
  width: 100%;
  text-align: end;
  border-top: 1px solid black;
  padding: 1rem;
  font-size: 2rem;
  padding-right: 8rem;
}

.checklist-allclear-btn {
  background-color: #9e9d89;
  border: none;
  color: #e4d3cf;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  margin: 2rem auto;
  width: 40%;
}
.checklist-allclear-btn:hover {
  background-color: #5c3c35;
  color: #e2bcb7;
}
.no-donate {
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  background-color: #fefad4;
  padding: 1rem;
}
.no-donate p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f1828d;
}
.no-donate button {
  width: 10rem;
  background-color: #ddd;
  border: none;
  color: #f1828d;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1rem;
  background-color: #fcd0ba;
}
.no-donate button:hover {
  color: #fcd0ba;
  background-color: #f1828d;
}
.no-donate-arrow {
  vertical-align: middle;
  font-size: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .checklist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checklist-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checklist-container {
    width: 80%;
  }
  .checklist {
    width: 100%;
    height: 60vh;
    margin-bottom: 0.25rem;
  }
  .checklist .checklist-info .checklist-image {
    width: 100%;
    height: 30vh;
  }
  .checklist .checklist-info .info-item {
    margin: 0.25rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checklist .checklist-info .checklist-item {
    width: 100%;
  }
  .checklist .checklist-info .checklist-price {
    width: 100%;
  }
  .checklist .checklist-info .checklist-count {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checklist .checklist-btn {
    margin: 0.5rem 0;
  }
  .checklist-form .checklist-total {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }
  .no-donate {
    width: 80%;
    height: 50vh;
  }
  .no-donate p {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 911px) {
  .checklist-form .checklist-total {
    padding-right: 5rem;
  }
}
