.visit {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visitcontent {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visitnumber {
  font-size: 2rem;
  color: rgb(192, 35, 8);
}
@media screen and (min-width: 300px) and (max-width: 576px) {
}
