.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  height: 50vh;
  width: 50%;
  text-align: center;
  overflow: hidden;
}
.slider .image {
  width: 100%;
}
article {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.sliderarticle {
  font-size: 1.5rem;
  margin: 0 auto;
}
.activeslide {
  opacity: 1;
  transform: translateX(0);
}
.lastslide {
  transform: translateX(-100%);
}
.nextslide {
  transform: translateX(100%);
}
.slider .arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}
.slider .arrow:hover {
  transform: scale(1.2, 1.2);
}
.slider .left {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 0;
  font-size: 1.5rem;
}
.slider .right {
  position: absolute;
  z-index: 3;
  top: 40%;
  right: 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 300px) and (max-width: 413px) {
  .slider {
    width: 80%;
    height: 35vh;
  }
  .slider .left {
    top: 35%;
  }
  .slider .right {
    top: 35%;
  }
}
@media screen and (min-width: 414px) and (max-width: 576px) {
  .slider {
    width: 80%;
    height: 40vh;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .slider {
    width: 70%;
    height: 40vh;
  }
  .slider .left {
    top: 40%;
  }
  .slider .right {
    top: 40%;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .slider {
    width: 50%;
    height: 60vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .slider {
    width: 40%;
    height: 60vh;
  }
}
@media screen and (min-width: 1201px) {
  .slider {
    width: 30%;
  }
}
