:root {
  --navbar: #ebe9e9;
  --body: #f3f8f2;
}
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  background-color: var(--navbar);
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  margin-left: 0.5rem;
}
.nav-logo img {
  vertical-align: middle;
  width: 100%;
}
.nav-btn {
  margin-right: 0.5rem;
  display: flex;
}
.bag,
.login,
.hamburger {
  background-color: var(--navbar);
  border: none;
  border-radius: 100%;
  display: block;
  padding: 0.75rem;
  cursor: pointer;
}
.bag:hover,
.login:hover,
.hamburger:hover,
.register:hover {
  background-color: var(--body);
}
.bag-logo,
.login-logo,
.hamburger-logo {
  width: 1.5rem;
  height: 100%;
}
.register {
  background-color: var(--navbar);
  border: none;
  border-radius: 100%;
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-span {
  font-size: 1rem;
  padding-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navbar-container {
    position: static;
  }
  .nav-logo {
    margin-left: 1rem;
  }
  .nav-logo {
    margin-left: 1rem;
  }
  .hamburger {
    display: none;
  }
  .bag-logo,
  .login-logo {
    width: 2rem;
    height: 100%;
  }
}
