.donate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  /* background-color: #efecca; */
}
.donate-list {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.donate-list .donate-image {
  width: 20%;
}
.donate-list .donate-info {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 1.5rem;
}
.donate-list .donate-info .donate-item {
  width: 40%;
}
.donate-list .donate-info .donate-price {
  width: 30%;
}
.donate-list .donate-info .donate-count {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate-list .donate-info .donate-count .donate-count-btn {
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #928c6f;
  cursor: pointer;
}
.donate-list .donate-info .donate-count .donate-count-btn:hover {
  color: black;
}
.donate-list .donate-btn {
  background-color: rgb(233, 174, 10);
  border: none;
  color: rgb(65, 33, 3);
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate-list .donate-btn:hover {
  color: rgb(233, 174, 10);
  background-color: rgb(65, 33, 3);
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .donate-list {
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
  .donate-list .donate-image {
    width: 100%;
  }
  .donate-list .donate-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .donate-list .donate-info .donate-item {
    width: 100%;
    text-align: center;
  }
  .donate-list .donate-info .donate-price {
    width: 100%;
    text-align: center;
  }
  .donate-list .donate-info .donate-count {
    width: 100%;
  }
  .donate-list .donate-btn {
    margin-bottom: 1rem;
  }
}
