.footer-container {
  background-color: #b67162;
  padding: 3rem;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.footer-info .footer-content {
  border-left: 1px #e4d3cf solid;
  width: 40%;
  padding-left: 2rem;
  line-height: 2rem;
  color: #e4d3cf;
}
.footer-copyright {
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
  color: #e4d3cf;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .footer-info {
    flex-direction: column;
    justify-content: center;
  }
  .footer-info .footer-content {
    border-left: 1px #e4d3cf solid;
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .footer-info h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer-info p {
    text-align: center;
  }
  .footer-copyright {
    font-size: 1rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 991px) {
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) {
}
