.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 40%;
  height: 5vh;
  background-color: transparent;
}
.search-btn {
  border: none;
  border-radius: 3%;
  background-color: turquoise;
  color: rgb(240, 242, 247);
  width: 10%;
  height: 5vh;
  margin-left: 1rem;
  cursor: pointer;
}
.search-btn:hover {
  background-color: rgb(240, 242, 247);
  color: turquoise;
}
