.ourservice-container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.para-container {
  margin-bottom: 5rem;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.para .image {
  width: 40%;
}
.para .content {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  transition: all 0.25s ease;
}
.para .content:hover {
  transform: scale(1.1, 1.1);
}
.ourservice-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .para {
    flex-direction: column;
  }
  .para .image {
    width: 80%;
  }
  .para .content {
    width: 80%;
    margin: 1rem 0 2rem;
  }
  .para-container .para-2 {
    flex-direction: column-reverse;
  }
}
