.pet-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3rem;
}
.pet-container {
  width: 17%;
  border-bottom: 5px solid turquoise;
  margin: 1rem;
}
.pet-container h5 {
  background-color: turquoise;
  text-align: center;
  font-size: 1.5rem;
}
.pet-container .pets {
  background-color: #e4f0f5;
  padding: 0 0.5rem 0.5rem;
}
.pet-container .pets img {
  width: 100%;
  min-height: 40vh; /*加上min-height以防沒有照片時不會跑版*/
  height: 40vh;
  margin-top: 1rem;
}
.pet-container .pets p {
  margin-top: 1rem;
}
.pet-container .pets .pet-dot {
  color: rgb(233, 183, 21);
  font-size: 1.5rem;
  vertical-align: middle;
}
.pet-container .pets .pet-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  background-color: rgb(255, 208, 0);
  border-radius: 10%;
  cursor: pointer;
}
.pet-container .pets .pet-btn:hover {
  background-color: rgba(179, 146, 3, 0.678);
  color: rgb(255, 208, 0);
}
.pet-container:hover {
  /* outline: turquoise 5px solid; */
  /* border-bottom: none; 
  border佔據element本身的空間，用box shadow則不會，outline也不會，但是outline無法只選擇某一邊*/
  box-shadow: -5px 0px 0px 0px turquoise, 5px 0px 0px 0px turquoise;
}
.search-not-found {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .pet-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pet-container {
    width: 80%;
  }
  .pet-container .pets img {
    height: 40vh;
    min-height: 40vh;
  }
}

@media screen and (min-width: 501px) and (max-width: 991px) {
  .pet-info {
    justify-content: center;
    align-items: center;
  }
  .pet-container {
    width: 40%;
  }
  .pet-container .pets img {
    height: 30vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .pet-container {
    width: 30%;
  }
  .pet-container .pets img {
    height: 20vh;
    min-height: 20vh;
  }
}
